/* Platform-specific global overrides (shared skin: @bari77/gc-theme) */
.splash-msg-color-base {
    color: #9aa7ff !important;
}

.splash-msg-color-warning {
    color: #ffc79a !important;
}

.splash-msg-color-error {
    color: #ff9a9a !important;
}
